/* Global variables */

:root {
  --orange: #F0A375;
  --dkorange: #ee7e51;
  --bright-purple: #95B3ED;
  --blue: #49B5EB;
  --grey: #EAEDED;
  --white: #EDDDB9;
  --whblue: #2BE6EB; 
  --whiteblue: #23B5EB;
  --yellow: #f8d300;
  --black: #0A0A0A; 
  --dkred: #731F35;
  --dkblue: #024059;
  --brown: #73280D;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* global styles */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  background-color: var(--grey);
}

h1, h2, h3, p {
  margin: 0;
}

/* header styles */

header {
  background-color: var(--dkblue);
  color: var(--grey)
}

#header-wrapper {
  width: 400px;
  margin: 0 auto;
  padding: 3em  0;
  text-align: center;
  font-size: calc(var(--font-size) * 1.1);
}

/* main styles */

main {
  padding: 3rem 0;
}

main p {
  text-align: center;
  font-size: var(--font-size);
}

main p:first-child {
  padding-bottom: 3rem;
  font-family: var(--sans);
  font-size: calc(var(--font-size) * 1.5);
}

main ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

#drinks-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.drink {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  text-align: center;
}

.drink-name {
  font-size: calc(var(--font-size) * 1.5);
  font-family: var(--mono);
  font-weight: 600;
}

.drink p {
  padding: 0 1rem;
}

.drink-buttons {
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  background-color: var(--orange);
  font-size: calc(var(--font-size) * 0.8);
  font-family: var(--mono);
  font-weight: 600;
}

.drink-buttons:hover {
  cursor: pointer;
  background-color: var(--dkorange);
}

#lemon-tea {
  color: var(--yellow);
}

#hot-chocolate {
  color: var(--brown);
}

.line-break {
  margin: 2rem 0;
  width: 100%;
  height: 10px;
  background-color: var(--brown);
}

main p:last-child {
  font-size: calc(var(--font-size) * 1.5);
  padding: 3rem 0;
}

/* Footer Styles */

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  padding: 1rem 1rem;
  background-color: var(--dkblue);
  color: var(--grey);
}


footer a {
  color: var(--grey)
}

footer a:hover {
  color: var(--dkorange);
}